{% extends 'layout/default.html' %}

{% block body %}
    {% if tasks %}
      {% for task in tasks %}
        <div>
          <form style="background-color: #444; border-style:double">
          <p>
            <p style="color: whitesmoke; font-size: 20px;">{{ task.task_name }}</p>
            <p style="color: whitesmoke;">{{ task.task_quantity }} restants.</p>
            </form>
            <div>
              <form action ="/user/task/del/id" method="POST" target="_selft" enctype="application/json" style="float:left">
                <input type="hidden" value={{task.id[0]}} name=value>
                  <button type="submit" class="buttongreen2">
                    Supprimer un vin
                  </button>
              </form>
            <form action ="/user/task/id" method="POST">
              <input type="hidden" value={{task.id[0]}} name=value2>
              <input type="hidden" value='0' name=change>
                <button type="submit" class="buttongreen2">
                  Voir ce vin
                </button>
            </form>
            </div>
          </p>
        </div>
      {% endfor %}
      <form action ="/signout" method="POST" target="_selft" enctype="application/json">
        <button type="submit" class="buttongreen">
          Se déconnecter
        </button>
    </form>  
    {% endif %}
{% endblock body %}

